<!DOCTYPE html>
<html>
<head>
    <title>Spotify En Çok Dinlediğin Albümler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<head>
<body>
<div class="container">

    <div class="topbar">
        <div class="menu-toggle">☰</div>
        <div class="nav-left" id="navMenu">
        <a class="btn" href="/tracks">🎵 Top Şarkılar</a>
        <a class="btn" href="/artists">🎤 Top Sanatçılar</a>
        <a class="btn" href="/albums">💿 Top Albümler</a>
        <a class="btn" href="/history">▐▐  Dinleme Geçmişi</a>
        <a class="btn" href="/overview">🌐 Genel Bakış</a>
    </div>
    <a class="logout-btn" href="/logout">⏻️Çıkış</a>
    </div>

    <div class="profile">
    {% if profile.image %}
        <img src="{{ profile.image }}" loading="lazy">
    {% endif %}
    <div>
        <h2>{{ profile.name }}</h2>

        {% if profile.product == "premium" %}
        <span style="color:#1db954; font-weight:bold;">
            🎵 Premium Hesap
        </span>
        {% else %}
        <span style="color:gray; font-weight:bold;">
            🎧 Free Hesap
        </span>
        {% endif %}
        <br><small style="color:#aaa;">Spotify hesabınla giriş yaptın</small>
    </div>
    </div>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const toggle = document.querySelector(".menu-toggle");
        const menu = document.getElementById("navMenu");

        if(toggle && menu){
            toggle.addEventListener("click", function() {
                menu.classList.toggle("active");
            });
        }
    });
    </script>
</body>
</html>


<h1>En Çok Dinlediğin Albümler<h1>
<div class="album-list">
{% for album in albums %}
<div class="album-card">
    <img src="{{ album.image }}" loading="lazy" width="150">
    <div class="album-info">
        <span class="left">{{ loop.index }}. {{ album.name }}</span>
        <span class="right">{{ album.artist }}</span>
    </div>
</div>
{% endfor %}
</div>
