<!DOCTYPE html>
<html>
<head>
     <title>Spotify Stats</title>
     <style>
	body {
	     background:#121212;
	     color:white;
	     font-family:Arial;
	     text-align:center;
	     margin-top:100px;
	}
	.btn {
	     padding:12px 25px;
	     background:#1db954;
	     color:white;
	     text-decoration:none;
	     border-radius:6px;
	     font-size:18px;
	}
     </style>
</head>
<body>
    <h1>Spotify İstatistikleri 🎵</h1>
    <a class="btn" href="/login">Spotify ile Giriş Yap</a>
</body>
</html>
